<div class="min-h-screen bg-slate-100">
    <nav class="flex justify-center bg-primary">
        <div class="flex items-center justify-center">
            <img src="/nba.ico" class="w-18 h-20"/>
            <h1 class="text-slate-100">Seasons</h1>
        </div>
    </nav>
    <div class="flex justify-center mt-4">
        <p-toast position="bottom-right"/>
        <p-button label="New Season" icon="pi pi-plus-circle" [rounded]="true" (click)="newSeason()"/>
    </div>
    <div>
        @if(listSeasons.length === 0){
            <div class="flex justify-center items-center h-96 mt-4">
                <p class="text-primary font-semibold text-2xl">No seasons found</p>
            </div>
        }
        @else {
            <div class="flex flex-col justify-center items-center">
                <div class="w-5/6 overflow-auto">
                    <table class="mt-5 w-full ">
                        <thead>
                            <tr>
                                <th class="min-w-24 bg-primary text-white text-lg h-12">Edition</th>
                                <th class="min-w-24 bg-primary text-white text-lg h-12"></th>
                                <th class="min-w-60 bg-primary text-white text-lg h-12">Winner</th>
                                <th class="min-w-20 bg-primary text-white text-lg h-12"></th>
                                <th class="min-w-60 bg-primary text-white text-lg h-12">Subchampion</th>
                                <th class="min-w-20 bg-primary text-white text-lg h-12">Semi-Finalists</th>
                                <th class="min-w-12 bg-primary text-white text-lg h-12"></th>
                            </tr>
                        </thead>
                        <tbody>
                                @for(season of listSeasons; track season.seasonId){
                                    <tr class="h-16 bg-gray-300 ">
                                    <td class="text-center text-2xl text-primary font-bold">{{ season.edition }}</td>
                                    
                                    @if(season.champion){
                                        <td class="flex justify-center items-center mt-1"><img [src]="season.champion.logo" alt="Logo Winner" class="w-12 h-12"></td>
                                        <td class="text-center">{{season.champion.name}} ({{season.champion.rings}})</td>
                                    }
                                    @else{
                                        <td class="flex justify-center items-center mt-1"><img src="/interrogant.png" class="w-12 h-12 mt-1"/></td>
                                        <td class="text-center">No champion yet</td>
                                    }
                                    @if(season.subChampion){
                                        <td class="flex justify-center items-center mt-1"><img [src]="season.subChampion.logo" alt="Logo Subchampion" class="w-12 h-12"></td>
                                        <td class="text-center">{{season.subChampion.name}}</td>
                                    }
                                    @else{
                                        <td class="flex justify-center items-center mt-1"><img src="/interrogant.png" class="w-12 h-12 mt-1"/></td>
                                        <td class="text-center">No subchampion yet</td>
                                    }
                                    @if (season.semiFinalistEast && season.semiFinalistWest){
                                        <td class="flex justify-center items-center mt-1"><img [src]="season.semiFinalistEast.logo" alt="Logo Subchampion" class="w-12 h-12">
                                        <img [src]="season.semiFinalistWest.logo" alt="Logo Subchampion" class="ml-1 w-12 h-12">
                                        </td>
                                    }
                                    @else {
                                        <td class="text-center">No semi-finalists</td>
                                    }
                                    
                                    <td style="text-align: center;" (click)="navigate(season.seasonId)"><img src="/basket.png" class="w-10 h-10 mt-1"/></td>
                                    </tr>
                                }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    </div>
</div>
