<div class="min-h-screen bg-slate-100">
    <nav class="flex justify-center bg-primary">
        <div class="flex items-center justify-center">
            <img src="/nba.ico" class="w-18 h-20"/>
            <h1 class="text-slate-100">Seasons</h1>
        </div>
    </nav>
    <div class="flex justify-center mt-4">
        <p-toast position="bottom-right"/>
        <p-button label="New Season" icon="pi pi-plus-circle" [rounded]="true" (click)="newSeason()"/>
    </div>
    <div>
        @if(listSeasons.length === 0){
            <div class="flex justify-center items-center h-96 mt-4">
                <p class="text-primary font-semibold text-2xl">No seasons found</p>
            </div>
        }
        @else {
            @for (season of listSeasons; track season.seasonId){
                <div>
                    {{season.edition}}
                </div>
            }
        }
    </div>
</div>
